
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-container {
  text-align: center;
  border: 1px solid #000;
  padding: 20px;
}
/*
 *= require_self
 *= require reviews
*/